
<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <style type="text/css">
        @media only screen and (max-width: 992px) {
            header,
            main,
            footer {
                padding-left: 0;
            }
        }

        #credits li,
        #credits li a {
            color: white;

        }

        #credits li a {
            font-weight: bold;

        }

        .footer-copyright .container a {
            color: #BCC2E2;
        }
        .con{
            display: flex;
            justify-content: center;
        }


    </style>
</head>
<header>
    <div class="con">
        <h4>Добро пожаловать Admin</h4>
    </div>
</header>
<body>
<main>
    <div class="row">
        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Общее</b>
                    </div>
                </div>

                <div class="row">
                    <a class="nav-link active" href="{{ path('full_users') }}">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">person</i>
                            <span class="indigo-text text-lighten-1"><h5>Пользователи</h5></span>
                        </div>
                    </a>
                    <div class="col s1">&nbsp;</div>
                    <div class="col s1">&nbsp;</div>

                    <a class="nav-link active" href="{{ path('status_processing') }}">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">assignment</i>
                            <span class="indigo-text text-lighten-1"><h5>Заказы</h5></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s6">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Продукты и бренды</b>
                    </div>
                </div>
                <div class="row">
                    <a class="nav-link active" href="{{ path('katalog') }}">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">store</i>
                            <span class="indigo-text text-lighten-1"><h5>Продукты</h5></span>
                        </div>
                    </a>

                    <div class="col s1">&nbsp;</div>
                    <div class="col s1">&nbsp;</div>

                    <a class="nav-link active" href="{{ path('brend') }}">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">local_offer</i>
                            <span class="indigo-text text-lighten-1"><h5>Бренды</h5></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
