h1#popBrend.zag{
    margin-top: 45px;
}

.card-bodys img{
    width: 340px;
    height: 55px;
}
.container{
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .container-brand {
        display: none;
    }
}
@media (max-width: 576px) {
    .container-brand {
        display: none;
    }
}
