<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container">
    <h2 class="zag" id="popular" style="margin-top: 50px">ООО «Мир инструмента»</h2>
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-sm-5">
                    <div class="card-body" style="margin-bottom: 50px">
                        <h5 class="card-title">455023, г. Магнитогорск, Карла Маркса, д. 67</h5><br>
                        <p class="card-text">
                            Маршрутки 13, 106, 158, 184, 632<br>
                            Остановка «Дербеневская наб., д. 7»
                        </p>
                    </div>
            </div>
            <div class="col-sm-4">
                    <div class="card-body" style="margin-bottom: 50px">
                        <p class="card-text">
                            ОГРН: 1047796688554<br>
                            ИНН 7703528301<br>
                            КПП 774850001<br>
                            ОКТМО 45380000<br>
                            ОГРН 1047796688554<br>
                            Расчетный рублевый счет: 40702810900001403352<br>
                            Банк: АО «Сбербанк» г. Москва<br>
                            Корреспондентский счет: 30101810200000000700<br>
                            БИК: 044525700</p>

                    </div>
            </div>
            <div class="col-sm-3">
                    <div class="card-body" style="margin-bottom: 50px">
                        <h5 class="card-title">Поддержка клиентов</h5>
                        <p class="card-text">osip174@mail.ru</p>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>