.carousel-image{
    width: 400px;
    height: 400px;
}

.containers{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px ;
    margin-left: 195px;
    width: 77.2%;


}
.secondcont{
    margin-top: 60px;
}
.containermain{
    margin-left: 20px;
    margin-top: 20px;
}
.description{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    margin: 10px ;
    margin-left: 195px;
    width: 77.2%;
}
.carousel-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-image {
    margin-left: 20px;
}
.main-image img {
    width: 80%;
}
.carousel-thumbnail {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 25px;
}
.selected-thumbnail {
    border: 2px solid #3caa3c;
}
.stock{
    color: #3caa3c;
    font-size: 20px;
}
.nostock{
    color: #ff0101;
    font-size: 20px;
}
.pre{
    margin-left: 10%;
    margin-top: 20px;
    font-size: 18px;
}
.pre1{
    margin-left: 10%;
    font-size: 18px; font-family: var(--bs-body-font-family);
}

.btn-success#nnn{
    width: 40%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.card {
    width: 275px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    margin-bottom: 35px;

}

.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}


.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #3caa3c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%;
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    cursor: pointer;
    color: #414141;
}

.card__title:hover {
    color: black;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: black;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    background-color: whitesmoke;

}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(98, 98, 98);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-link{
    text-decoration: none;
    color: black;
}
.btn.btn-success{
    margin-top: 10px;
}

.inf:hover{
    text-decoration: underline;
    cursor: pointer;
}


.add-to-basket {
    background-color: transparent;
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #28a745;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-basket:hover {
    background-color: #28a745;
    color: #fff;
}

.added-to-basket-text a {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    text-decoration: none;
    padding-bottom: 2px;
}

.added-to-basket-text a:hover {
    color: #218838;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание по вертикали */
    margin-bottom: 10px;
}

.attribute {
    margin-left: 145px;
}

.attribute1 {
    text-align: left;
    margin-right: 500px;
}
.description h4,
.description h1{
    margin-left: 10%;
}
@media screen and (max-width: 768px) {
    .containers {
        display: flex;
        flex-direction: column; /* Изменим направление на колонку, чтобы блоки шли друг под другом */
        margin-left: 0;
        width: 100%;
    }

    .carousel-thumbnails {
        display: block;
        margin-left: -20px;
        text-align: center;
    }

    .carousel-thumbnail {
        width: 50px;
        height: 50px;
    }

    h2.product-name {
        font-size: 20px;
        margin-top: -35px;
    }

    #container-1 {
        order: 2; /* Контейнер 1 будет вторым */
    }

    #container-2 {
        order: 1; /* Контейнер 2 будет первым */
    }
    #container-3 {
        order: 3; /* Контейнер 2 будет первым */
    }

    .main-image img{
        max-width: 200px;
        max-height: 200px;
        margin-left: 12px;
    }
    .price-stock {
        display: flex; /* Включаем flexbox */
        justify-content: space-around /* Располагаем элементы вертикально */
    }

    .price-stock .stock, .price-stock .nostock {
        order: 1; /* Ставим p (stock или nostock) первым */
    }

    .price-stock h2 {
        order: 2; /* Ставим h2 вторым */
    }

    p.inf{
        font-size: 13px;
    }

    .product-buttons {
        width: 100%;
        text-align: center;
    }

    .btn-success {
        width: 100%;
        margin-top: 10px;
    }

    .secondcont {
        margin-top: 20px;
        text-align: center;
    }

    .description {
        padding: 10px;
        margin: 0;
        width: 100%;
    }
    .pre {
        font-size: 14px;
        margin-top: 0;
        margin-left: 3%;
    }

    .product-info {
        margin-bottom:10px;
        align-items: stretch;
    }

    .attribute {
        margin-bottom: 5px;
        margin-left:10px;
    }
    .attribute1{
        margin-left:30px;
    }
    .attribute p{
        width: 100px;
        font-size: 13px;
        text-align: left;
    }
    .attribute1 p{
        width: 150px;
        font-size: 13px;
        text-align: right;
    }
    .description h1{
        margin-left: 3%;
        font-size: 20px;

    }
    .description h4{
        margin-left: 3%;
        font-size: 18px;
    }


    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card__top {
        flex: 0 0 220px;
        position: relative;
        overflow: hidden;
    }

    .card__image > img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .card__price {
        font-size: 18px;
    }

    .add-to-basket {
        width: 100%;
        font-size: 18px;
    }
    @media screen and (min-width: 375px) and (max-width: 424px) {
        .main-image img{
            max-width: 200px;
            max-height: 200px;
            margin-left: 40px;
        }
        .attribute p{
            font-size: 14px;
            text-align: left;
        }
        .attribute1 p{
            width: 200px;
            font-size: 14px;
            text-align: right;
        }
    }
    @media screen and (min-width: 425px) and (max-width: 767px) {
        .main-image img{
            max-width: 200px;
            max-height: 200px;
            margin-left: 55px;
        }
        .attribute p{
            font-size: 14px;
            text-align: left;
        }
        .attribute p{
            width: 200px;
        }
        .attribute1 p{
            font-size: 14px;
            text-align: right;
        }
        p.inf{
            font-size: 14px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .main-image img{
            align-items: center;
            max-width: 300px;
            max-height: 300px;
            margin-left: 185px;
        }
        .attribute p{
            font-size: 14px;
            text-align: left;
        }
        .attribute p{
            width: 350px;
            font-size: 16px;
            margin-left: 13px;

        }
        .attribute1 p{
            font-size: 16px;
            text-align: right;
        }
        p.inf{
            font-size: 14px;
        }
    }
}
