.carousel-image{
    width: 400px;
    height: 400px;
}

.containers{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px ;
    margin-left: 195px;
    width: 77.2%;


}
.secondcont{
    margin-top: 60px;
}
.containermain{
    margin-left: 20px;
    margin-top: 20px;
}
.description{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    margin: 10px ;
    margin-left: 195px;
    width: 77.2%;
}
.carousel-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-image {
    margin-left: 20px;
}
.main-image img {
    width: 80%;
}
.carousel-thumbnail {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 25px;
}
.selected-thumbnail {
    border: 2px solid #3caa3c;
}
.stock{
    color: #3caa3c;
    font-size: 20px;
}
.nostock{
    color: #ff0101;
    font-size: 20px;
}
.pre{
    margin-left: 10%;
    margin-top: 20px;
    font-size: 18px;
}
.pre1{
    margin-left: 10%;
    font-size: 18px; font-family: var(--bs-body-font-family);
}

.btn-success#nnn{
    width: 40%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.card {
    width: 275px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    margin-bottom: 35px;

}

.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}


.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #3caa3c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%;
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    cursor: pointer;
    color: #414141;
}

.card__title:hover {
    color: black;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: black;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    background-color: whitesmoke;

}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(98, 98, 98);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-link{
    text-decoration: none;
    color: black;
}
.btn.btn-success{
    margin-top: 10px;
}
.product-info {
    display: flex;
    margin-left: 10%;
}

.attribute {
    margin-bottom: 10px;
}
.attribute1{
    margin-left: 250px;
}

