.card {
    width: 275px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    margin-bottom: 35px;

}

.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #3caa3c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.card__bottom {

    flex: 1 0 auto;
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%;
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 18px;
    color: #bfbfbf;
}

.card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 18px;
    color: #bfbfbf;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    color: #414141;
    text-decoration: none;
}

.card__title:hover {
    color: black;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: black;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    background-color: whitesmoke;

}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(98, 98, 98);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-link{
    text-decoration: none;
    color: black;
}

.filter-container {
    height: 1%;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}



.filter-group {
    margin-bottom: 20px;
}
.filter-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.filter-group input[type="text"],
.filter-group input[type="number"],
.filter-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.price-range {
    display: flex;
    gap: 10px;
}
.price-range input {
    flex: 1;
}
.availability-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.availability-group label {
    display: flex;
    align-items: center;
}
.availability-group input {
    margin-right: 8px;
}
.discount-group {
    display: flex;
    flex-direction: column;
}
.discount-group__row {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin-bottom: 10px;
}
.discount-group label {
    display: flex;
    align-items: center;
}
.discount-group input {
    margin-right: 5px;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
}
.product-buttons {
    text-align: center;
}

.add-to-basket {
    background-color: transparent;
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #28a745;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-basket:hover {
    background-color: #28a745;
    color: #fff;
}

.added-to-basket-text a {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    text-decoration: none;
    padding-bottom: 2px;
}

.added-to-basket-text a:hover {
    color: #218838;
}
.alert{
    font-size: 20px;
    margin-top: -80px;
}
.card__price--discount{
    font-size: 22px;
}
.card__price--common{
    font-size: 18px;
}
.btn.btn-success.add-to-basket{
    width: 100%;
}
.sort-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

@media (min-width: 769px) and (max-width: 991px){
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Три одинаковые колонки */
        gap: 20px;
    }
    .product-card {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 0;
    }

    .card {
        width: 100%; /* карточка будет занимать всю доступную ширину в колонке */
        min-height: 150px; /* минимальная высота карточки */
    }
    .discount-group__row{
        gap: 50px
    }
    .price-range{
        flex-direction: column;
    }
    .alert{
        margin-top: 0;
    }
}
@media (max-width: 768px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Три одинаковые колонки */
        gap: 20px;
    }
    .product-card {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 0;
    }

    .card {
        width: 100%; /* карточка будет занимать всю доступную ширину в колонке */
        min-height: 150px; /* минимальная высота карточки */
    }
    .discount-group__row{
        gap: 50px
    }
    .price-range{
        flex-direction: column;
    }
    .alert{
        margin-top: 0;
    }
}
@media (max-width: 425px) and (min-width: 376px){
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Три одинаковые колонки */
        gap: 20px;
    }
    .product-card {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 0;
    }

    .card {
        width: 100%; /* карточка будет занимать всю доступную ширину в колонке */
        min-height: 150px; /* минимальная высота карточки */
    }
    .card__price--discount::before{
        font-size: 14px;
    }
    .card__price--common::before{
        font-size: 12px;
    }
    .card__price--discount{
        font-size: 17px;
    }
    .card__price--common{
        font-size: 15px;
    }
    .card__title{
        font-size: 14px;
    }
    .aa{
        font-size: 13px;
    }
    .card__top {
        flex: 0 0 100px;
    }
    .card__label{
        font-size: 8px;
        bottom: 0;
    }
    .btn.btn-success.add-to-basket{
        font-size: 13px;
    }
}
@media (max-width: 375px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Три одинаковые колонки */
        gap: 20px;
    }

    .product-card {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 0;
    }

    .card {
        width: 100%; /* карточка будет занимать всю доступную ширину в колонке */
        min-height: 150px; /* минимальная высота карточки */
    }

    .card__price--discount::before {
        font-size: 11px;
    }

    .card__price--common::before {
        font-size: 9px;
    }

    .card__price--discount {
        font-size: 12px;
    }

    .card__price--common {
        font-size: 9px;
    }

    .card__title {
        font-size: 12px;
    }

    .aa {
        font-size: 9px;
    }

    .card__top {
        flex: 0 0 100px;
    }

    .card__label {
        font-size: 8px;
        bottom: 0;
    }

    .btn.btn-success.add-to-basket {
        font-size: 8px;
    }
}


